<div class="fake-body">
  <div class="nav-bar">
      <span>
          <h1>Registracija servisa</h1>
          <ul style="align-self: flex-end; display:flex;flex-direction: row; width: 20%;justify-content: space-around;">
          </ul>
      </span>
  </div>

<div style="margin-left: 100px; margin-top: 10px;">
    <form class="registration-form">

      <mat-form-field class="box">
        <input matInput required placeholder="Car Service Name  " [(ngModel)]="registerData.CarServiceName" name="CarServiceName"/>
    </mat-form-field>

        <mat-form-field class="box">
            <input matInput required placeholder="Car Service Pin" [(ngModel)]="registerData.CarServicePin" name="CarServicePin"/>
        </mat-form-field>

        <mat-form-field class="box">
            <input matInput required placeholder="Car Service Address" [(ngModel)]="registerData.CarServiceAddress" name="CarServiceAddress"/>
        </mat-form-field>

        <mat-form-field class="box">
          <input matInput required placeholder="Regular Service Cost" [(ngModel)]="registerData.RegularServiceCost" name="RegularServiceCost"/>
      </mat-form-field>
    </form>
    <button mat-raised-button class="gotovoButton" (click)="RegisterService()">Register car service</button>
  </div>
</div>