.registerContainer{
    padding: 25px;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}
.registerContainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registration-form {
    width: 300px;

}

.nav-bar span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #777;
    color: white;
    padding: 5px;
    background-image: url(../../assets/carBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.gotovoButton{
    background-color: #555555; 
    color: white;
}

.gotovoButton:hover{
    background-color: white;
    color: #555555;
    border: 1.5px solid #555555;
}

.registerButton {
    background-color: #4CAF50; /* Green */ 
    color: white;
    margin-right: 20px;
}
.registerButton:hover{
    background-color: white;
    color: #4CAF50;
    border: 1.5px solid #4CAF50;
}
