<div class="fake-body">
    <div class="nav-bar">
        <span>
            <h1>Registracija vozila</h1>
            <ul style="align-self: flex-end; display:flex;flex-direction: row; width: 20%;justify-content: space-around;">
            </ul>
        </span>
    </div>
  
  <div style="margin-left: 100px; margin-top: 10px;">
      <form class="registration-form">
          <mat-form-field class="box">
              <input matInput required placeholder="Registration plate" [(ngModel)]="registerCarData.licensePlate" name="lastName"/>
          </mat-form-field>
  
          <mat-form-field class="box">
              <input matInput required placeholder="Manufacturer" [(ngModel)]="registerCarData.carBrand" name="carBrand"/>
          </mat-form-field>

          <mat-form-field class="box">
            <input matInput required placeholder="Owner pin" [(ngModel)]="registerCarData.oib" name="pin"/>
        </mat-form-field>

      </form>
      <button mat-raised-button class="registerButton" (click)="RegisterCar()">Dodaj vozilo</button>
      <button mat-raised-button class="gotovoButton" (click)="Done()">Gotovo</button>
    </div>
  </div>