<div>
    <div id="fakeBody">
        <div class="nav-bar">
            <span style="display: flex;flex-direction: row;justify-content: space-between;background-color: blue;color: white; padding: 5px;">
                <h1>{{admin.firstName}} {{admin.lastName}}</h1>
                <ul style="align-self: flex-end; display:flex;flex-direction: row; width: 20%;justify-content: space-around;">
                    <div><button mat-raised-button class="switchButton" (click)="SwitchScreen()">Switch screen</button></div>
                    <div><button mat-raised-button class="switchButton" (click)="Logout()">Log out</button></div>
                </ul>
            </span>
        </div>
    </div>
    
    <div class="wrap">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-diagram">
                            <div class="example-element-position"> {{element.partCode}} </div>
                            <div class="example-element-symbol"> {{element.partName}} </div>
                        </div>
                        <div class="example-element-description">
                            {{element.description}}
                        </div>
                        <div>
                            <button mat-raised-button class="promijeniButton" (click)="Promijeni(element)">Promijeni</button>
                        </div>
                        <div>
                            <button mat-raised-button class="preuzmiButton" (click)="Ukloni(element)">Ukloni</button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
</div>