<!-- Header -->
<div id="fakeBody">
    <header class="banner">
        <span class="background"></span>
        <h1>MojAutoServis</h1>
    </header>
    
    <!-- Other stuff -->
    <div class="underBanner">
        <div class="content">
            <div class="text">
                <h2>About Us</h2>
                <p>MojAutoServis je projekt u sklopu kolegija Oblikovanje programske potpore koji se održava na Fakultetu elektrotehnike i računarstva na trećoj godini prediplomskog studija. MojAutoServis, kao takav, je web aplikacija za praćenje redovnog i izvanredovng servisiranja automobila.</p>
                <p>Aplikacija je osimišljena tako da je koriste Vlasnici vozila koji u aplikaciji registriraju svoje aute, Vlasnici autoservisa u kojima se auti servisiraju i Serviseri koji vrše popravke nad autima.</p>
                <p>Aplikacija rasterećuje vlasnike vozila tako da ubrzava i pojednostavljuje proces
                    otvaranja radnog naloga za svoje vozilo. Serviserima će svi radni nalozi biti na
                    jednom mjestu. Samo jednim klikom moći će preuzeti radni nalog te isto tako obavijestiti
                    vlasnike vozila o obavljenom servisu. Administratori
                    autoservisa prate sve dogadaje vezane uz njihovu tvrtku putem web aplikacije
                    koja im takoder omogućuje upravljanje cijenama autodijelova i zapošljavanje/otpuštanje
                    servisera.</p>
                <p>LoremIpsum je programerska razvojna grupa koja se sastoji od 7 članova. Osnovana je u listopadu 2019. u kafiću Cozy bar.</p>
            </div>  
            <div class="context">
                    <div class="contextContainer">
                            <div class="buttonContainer">
                              <p class="selected" id="register" (click)="Switch()">Register</p>
                              <p (click)="Switch()" class="" id="login">Login</p>
                            </div>
                            <div class="outlet">
                                <router-outlet></router-outlet>
                            </div>
                    </div>
            </div>  
        </div>
    </div>
</div>