/* Better box-sizing */
* { box-sizing: border-box; }

/* 1rem = 10px */
html { font-size: 62.5%; }

/* Default body */
body { 
  margin: 0; 
  opacity: 0;
  font: 1.6rem/1.875 'Avenir Next', sans-serif;
}
#fakeBody{
    padding: 0;
    margin: 0; 
    
}
a{font-family: Arial, Helvetica;}
p{font-family: Arial, Helvetica}
h1{font-family: Arial, Helvetica}
h2{font-family: Arial, Helvetica}

/* Loaded body */
body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

/* Default banner */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  overflow: hidden;
  backface-visibility: hidden;
}

/* Default image container */
.banner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate3d(0,0,0) scale(1.25);
  background: black url(../../assets/carBg.jpg) no-repeat center center; 
  background-size: cover;
}

/* Loaded image container */
.loaded .banner .background {
    transform: scale(1);
    transition: 6.5s transform;
  }

/* Other stuff */
.banner h1 {
  color: #EEE;
  margin: 0;
  line-height: 40rem;
  text-transform: uppercase;
  text-shadow: 0 0 .3rem black;
}

.underBanner{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.underBanner .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.underBanner .content .text{
    width: 50%;
}
.underBanner .content .context{
    width: 50%;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonContainer p{
  margin: 3px;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.buttonContainer p:hover{
  cursor: pointer;
  transform: scale(0.8);
}
.contextContainer{
  padding-left: 25px;
}
.outlet{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.selected{
  color: green;
  font-size: 30px!important;
  margin: 0
  px 10px 0px 10px;
}

.text{
  display: block;
  background-color: rgb(233, 223, 233);
  padding: 10px;
  border-radius: 10px;
  
}