<div class="fake-body">
    <div class="nav-bar">
        <span>
            <h1>IME</h1>
            <ul style="align-self: flex-end; display:flex;flex-direction: row; width: 20%;justify-content: space-around;">
                <div><button mat-raised-button class="logOutButton" (click)="Logout()">Log out</button></div>
            </ul>
        </span>
    </div>
   <div class="wrap">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram">
                        <div class="example-element-position"> {{element.carServicePin}} </div>
                        <div class="example-element-symbol"> {{element.carServiceName}} </div>
                        <div class="example-element-name"> {{element.regularServiceCost}} kn </div>
                    </div>
                    <div class="example-element-description">
                        {{element.description}}
                    </div>
                    <div>
                        <button mat-raised-button class="odaberiButton" (click)="Odaberi(element)">Odaberi</button>
                    </div>
                    <div *ngFor="let part of element.partsInStock; index as i">
                        <div>
                            <mat-checkbox class="example-margin" [(ngModel)]="checked[i]">{{part.partName}}</mat-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
   </div>
</div>