<div class="fake-body">
    <div class="nav-bar">
        <span>
            <h1>Registracija dijelova</h1>
            <ul style="align-self: flex-end; display:flex;flex-direction: row; width: 20%;justify-content: space-around;">
            </ul>
        </span>
    </div>
  
  <div style="margin-left: 100px; margin-top: 10px;">
      <form class="registration-form">
          <mat-form-field class="box">
              <input matInput required placeholder="Part Name" [(ngModel)]="registerUserData.lastName" name="lastName"/>
          </mat-form-field>
  
          <mat-form-field class="box">
              <input matInput required placeholder="Part Code" [(ngModel)]="registerUserData.pin" name="pin"/>
          </mat-form-field>
      </form>
      <button mat-raised-button class="registerButton" (click)="RegisterPart()">Dodaj dio</button>
      <button mat-raised-button class="gotovoButton" (click)="Done()">Gotovo</button>
    </div>
  </div>