table {
    width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.wrap{
    padding: 20px;
}
.fake-body{
    padding: 0;
}
.detailView{
  display: flex;
  flex-direction: row;
}
.data{
  display: flex;
  flex-direction: column;
}
.nav-bar span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #777;
  color: white;
  padding: 5px;
  background-image: url(../../assets/carBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
a{font-family: Arial, Helvetica}
p{font-family: Arial, Helvetica}
h1{font-family: Arial, Helvetica}
h2{font-family: Arial, Helvetica}

.logOutButton{
  background-color: #555555; 
  color: white;
}

.logOutButton:hover{
  background-color: white;
  color: #555555;
  border: 1px solid #555555;
}

.noviNalogButton {
  background-color: #4CAF50; /* Green */ 
  color: white;
}
.noviNalogButton:hover{
  background-color: white;
  color: #4CAF50;
  border: 1.5px solid #4CAF50;
}
