<div class="fake-body">
    <div class="nav-bar">
        <span>
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <ul style="align-self: flex-end; display:flex;flex-direction: row; width: 20%;justify-content: space-around;">
                <div><button mat-raised-button class="logOutButton" (click)="AddCar()">Dodaj auto</button></div>
                <div><button mat-raised-button class="logOutButton" (click)="Logout()">Log out</button></div>
                <div><button mat-raised-button class="logOutButton" (click)="test()">test</button></div>

            </ul>
        </span>
    </div>
   <div class="wrap">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="detailView">
                        <div class="data">
                            <h1>{{element.manufacturer}} </h1>
                            <h2>{{element.registrationPlate}}</h2>
                            <h2>{{element.hasFault}}</h2>
                            <h3>{{element.nextServiceDate}}</h3>
                        </div>
                        <div class="btn">
                            <button mat-raised-button class="noviNalogButton" (click)="NoviNalog(element)">Novi nalog</button>
                        </div>
                        <div class="btn">
                            <button mat-raised-button class="noviNalogButton" (click)="Ukloni(element)">Ukloni</button>
                        </div>
                        <div class="btn">
                            <button mat-raised-button class="noviNalogButton" (click)="Uredi(element)">Uredi</button>
                        </div>
                    </div>
                    
                   
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
   </div>
</div>