  <div>
    <form class="registration-form">

        <mat-form-field  class="firstName">
          <input matInput required placeholder="First Name" [(ngModel)]="registerUserData.firstName" name="firstName"/>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="box">
            <input matInput required placeholder="Last Name" [(ngModel)]="registerUserData.lastName" name="lastName"/>
        </mat-form-field>

        <mat-form-field class="box">
            <input matInput required placeholder="PIN" [(ngModel)]="registerUserData.pin" name="pin"/>
            <mat-hint><b>11 znakova</b></mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput required placeholder="Email" [(ngModel)]="registerUserData.email" email name="" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput required placeholder="Password" [(ngModel)]="registerUserData.password" name="password" [type]="!hide ? 'password' : 'text'">
            <button class="passwordVisibilityBtn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </form>
    <button class="registerButton" mat-raised-button (click)="RegisterAsUser()">Register</button>
    <button class="registerAdminButton" mat-raised-button (click)="RegisterAsAdmin()">Register as admin</button>
  </div>