.registerContainer{
    padding: 25px;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}
.registerContainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registration-form {
    width: 300px;

}
.loginButton {
    background-color: #4CAF50; /* Green */ 
    color: white;
}
.loginButton:hover{
    background-color: white;
    color: #4CAF50;
    border: 1.5px solid #4CAF50;
}
.registerAdminButton{
    margin-left: 10px;
    background-color: #555555; 
    color: white;
}

.registerAdminButton:hover{
    background-color: white;
    color: #555555;
    border: 1.5px solid #555555;
}

a{font-family: Arial, Helvetica}
p{font-family: Arial, Helvetica}
h1{font-family: Arial, Helvetica}
h2{font-family: Arial, Helvetica}

