<div>
        <form class="registration-form">
            <mat-form-field>
              <input matInput required placeholder="Email" [(ngModel)]="loginUserData.email" email name="email"  [formControl]="emailFormControl" >
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput required placeholder="Password" [(ngModel)]="loginUserData.password" name="password" [type]="!hide ? 'password' : 'text'">
                <button class="passwordVisibilityBtn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </form>
        <button class="loginButton" mat-raised-button (click)="LoginUserClick()">Login</button>
      </div>